rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /courses/{courseId} {
      allow read: if resource.data.published == true || (request.auth != null && request.auth.token.email == 'YOUR_ADMIN_EMAIL@example.com');
      allow create, update, delete: if request.auth != null && request.auth.token.email == 'YOUR_ADMIN_EMAIL@example.com';

      match /lessons/{lessonId} {
        allow read: if get(/databases/$(database)/documents/courses/$(courseId)).data.published == true
                    && resource.data.published == true
                    || (request.auth != null && request.auth.token.email == 'YOUR_ADMIN_EMAIL@example.com');
        allow create, update, delete: if request.auth != null && request.auth.token.email == 'YOUR_ADMIN_EMAIL@example.com';
      }
    }
  }
}
